accelerate
bitsandbytes
boto3~=1.28.9
botocore~=1.31.9
decord~=0.6.0
decord
einops
entrypoints
fairscale==0.4.4
ffmpeg-python
git+https://github.com/openai/whisper.git
gradio~=3.38.0

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
imageio
imageio-ffmpeg
jsonschema
langchain==0.0.292
lvis~=0.5.3
matplotlib~=3.7.2
mmcv
nltk
numpy~=1.24.4
omegaconf~=2.3.0
openai~=0.27.8

opencv-python~=4.6.0.66
openmim
paddleocr~=2.6.1.3
paddlepaddle~=2.5.0
Pillow~=10.0.0
psutil~=5.9.5
pycocoevalcap
pycocotools~=2.0.6
pydantic==1.10.4
PyYAML~=6.0.1
requests~=2.31.0
scipy~=1.10.1
scipy
setuptools==59.5.0
simplet5~=0.1.4
simplet5
spacy
tabulate~=0.9.0
termcolor~=2.3.0
timm==0.4.12
torch==1.13.1
torchvision==0.14.1
tqdm~=4.65.0
transformers~=4.16.2
webdataset
wget==3.2
